<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<body>
    <%= comment.username %> - <%= comment.comment  %>
    <a href="/comments">Back to All Comments</a>
    <a href="/comments/<%= comment.id %>/edit">Edit Comment</a>
</body>
</html>